future==0.18.2
h5py==3.3.0
idna==3.2
intervaltree==3.1.0
ipython==7.26.0
ipython-genutils==0.2.0
jupyter==1.0.0
jupyter-client==7.0.1
jupyter-console==6.4.0
jupyter-core==4.7.1
librosa==0.8.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mir-eval==0.6
numpy==1.20.3
scikit-learn==0.24.2
scipy==1.7.1
torch==1.9.0+cu111
torchaudio==0.9.0
torchvision==0.10.0+cu111
psutil==5.8.0